.app-btn{
  padding:12px 25px;
  border:1px solid transparent;
  border-radius: 4px;
  font-size: inherit;
  background-color: $gray-150;
  transition: 0.3s ease-out;
  text-decoration: none;
}

.app-btn-outline-primary{
  border:1px solid $primary;
  color:$primary;
  background-color: inherit;
  &:hover{
    background-color: $primaryHover;
    color:$white;
  }
}

.app-btn-round{
  border-radius: 30px;
}

.app-btn-hover{
  &:hover{
    border:1px solid $primary;
    color:$primary;
  }
}

.app-btn-primary{
  background-color: $primary;
  color:$white;
  &:hover{
    background-color: $primaryHover;
  }
}

.find-more-btn {
  font-size: 15px;
  text-decoration: none;
  border: 1px solid $primary;
  border-radius: 4px;
  padding: 10px 20px;
  transition: 0.5s ease-out;
  &:hover {
    background-color: $primary;
    color: $white;
  }
}

.btn-newsletter {
  padding: 10px 20px;
  font-size: 15px;
  background-color: $primary;
  border-radius: 4px;
  margin-left:8px;
  border:none;
  color:$white;
}
