.section {
  padding: 60px 0;
}

.section-content {
  font-size: 15px;
  line-height: 1.5;
}

.section-gray {
  background: $gray-100;
}

.section-heading {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 20px;
}

.section-gradient {
  background: linear-gradient(rgb(245 242 255), rgb(160 130 255));
}

@media screen and (max-width: 768px) {
  .section {
    padding: 30px 0;
  }
}
