$black:#080808;
$gray-500:#818181;
$gray-400:#adacac;
$gray-200:#dddddd;
$gray-150:#f1f1f1;
$gray-100:#f9f9f9;
$primary:#6b54b0;
$primaryHover:#634aad;

$primary-light:#dfd4ff;
$white:#fff;
$blue-light:#d5eaf5;

$gradient : rgb(153, 147, 169);

