/*utility classses*/

.lh-content {
  line-height: 1.4;
}

.bg-primary-light {
  background-color: $primary-light;
}

.fs-tiny{
  font-size: 12px;
}

.fw-medium{
  font-weight: 500;
}

.border-bottom-gray-200{
  border-bottom: 1px solid $gray-200;
}

