@mixin mobile-menu-icon-style() {
  cursor: pointer;
  background: $gray-150;
  display: flex;
  padding: 6px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: $primary;
}

.app-logo {
  cursor: pointer;
  span {
    font-size: 32px;
    font-weight: 700;
  }
}

.header {
  border-bottom: 1px solid $gray-200;
  height: 68px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: $white;
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-menu {
  height: inherit;
}

#header-menu-items {
  display: flex;
  flex-direction: row;
  height: inherit;
  li {
    height: inherit;
    display: flex;
    align-items: center;
    a {
      height: inherit;
      display: flex;
      align-items: center;
      padding: 0 20px;
      font-size: 16px;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: 0.3s ease-out;
      &:hover {
        background-color: $gray-100;
        color: $primary;
      }
    }
  }
}

.header-shadow {
  box-shadow: rgba(189, 189, 189, 0.2) 0px 7px 29px 0px;
  border-bottom: 1px solid transparent;
}

.mobile-menu-wrap.is-closed {
  width: 0px;
  transition: 0.3s ease-out;
}

.mobile-menu-icon {
  @include mobile-menu-icon-style();
}

@media screen and (max-width: 768px) {
  .header-menu,
  #contact-btn {
    display: none !important;
  }

  .mobile-menu-wrap.is-opened {
    width: 280px;
    transition: 0.3s ease-out;
  }

  .mobile-menu-wrap {
    display: block;
    overflow: hidden;
    height: 100vh;
    background-color: $white;
    position: absolute;
    z-index: 1000;
    top: 0px;
    right: 0;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 0;
  }

  .mobile-header-menu {
    max-width: 100%;

    // border: 1px solid red;
  }

  #header-menu-items {
    flex-direction: column;
    li {
      height: auto;
      width: 100%;
      a {
        width: 100%;
        padding: 20px;
      }
    }
  }

  .mobile-menu-close {
    @include mobile-menu-icon-style();
    margin: 8px;
  }

  #contact-btn-mobile {
    width: 95%;
    margin: 20px auto;

    button {
      width: 100%;
    }
  }
}
