

.hero-section{
  padding-top:120px
}

.hero-head{
  h1{
    font-size: 36px;
    font-weight: 800;
    margin-bottom:20px;
    line-height:1.8;
  }

  p{
    line-height: 1.6;
    width:80%;
  }
}

.hero-img{
  margin-top:-80px
}